scenedetect==0.6.4
supervision==0.24.0
ultralytics==8.3.25
google-cloud-speech==2.28.0
google-auth==2.36.0
pydub==0.25.1
opencv-python==4.7.0.68
webcolors==24.8.0
openai==1.54.3
deepface==0.0.93
tf-keras==2.18.0
librosa==0.10.2